# **TOPSIS : Multi-Criteria Decision-Making method**

Download Dataset here: https://drive.google.com/drive/folders/1gkfVzqFfurRycF4Qh9OaLzrIPicKSxj8?usp=sharing

In [1]:
install.packages('topsis')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(topsis)

In [4]:
dataset = read.csv('Topsis-Dataset.csv')
dataset

  Model Corr Rseq RMSE Accuracy
1 M1    0.79 0.62 1.25 60.89
2 M2    0.66 0.44 2.89 63.07
3 M3    0.56 0.31 1.57 62.87
4 M4    0.82 0.67 2.68 70.19
5 M5    0.75 0.56 1.30 80.39

# Convert to matrix : topsis needs data in matrix form

In [5]:
d <- as.matrix(dataset[,-1])          # drop 1st column
d

     Corr Rseq RMSE Accuracy
[1,] 0.79 0.62 1.25 60.89
[2,] 0.66 0.44 2.89 63.07
[3,] 0.56 0.31 1.57 62.87
[4,] 0.82 0.67 2.68 70.19
[5,] 0.75 0.56 1.30 80.39

# Assigning Weights

In [11]:
i <- c("+","+","-","+")

# Assigning impacts

In [12]:
w <- c(1,1,1,1)

# Calling topsis function

In [13]:
topsis(d,w,i)

  alt.row score     rank
1 1       0.7722097 2
2 2       0.2255988 5
3 3       0.4388973 4
4 4       0.5238779 3
5 5       0.8113887 1